<div>
  <div class="simon-board-wrapper">
    <div class="simon-board">
      <div class="pad green" (click)="click(colorEnum.green)" [ngClass]="{illuminated: illuminatedColor==colorEnum.green}"></div>
      <div class="pad red" (click)="click(colorEnum.red)" [ngClass]="{illuminated: illuminatedColor==colorEnum.red}"></div>
      <div class="pad yellow" (click)="click(colorEnum.yellow)" [ngClass]="{illuminated: illuminatedColor==colorEnum.yellow}"></div>
      <div class="pad blue" (click)="click(colorEnum.blue)" [ngClass]="{illuminated: illuminatedColor==colorEnum.blue}"></div>
      <div class="center">
        <div [hidden]="gameService.state!==stateEnum.preStart">
          <div class="display pointer" (click)="reset()">
            <span>Start</span>
          </div>
        </div>

        <div [hidden]="gameService.state!==stateEnum.reveal">
          <div class="display">
            <div class="level">Level {{gameService.level}}</div>
            <div class="state">
              <span>Watch</span>
            </div>
          </div>
        </div>

        <div [hidden]="gameService.state!==stateEnum.input">
          <div class="display">
            <div class="level">Level {{gameService.level}}</div>
            <div class="state">
              <span>Go</span>
            </div>
          </div>
        </div>

        <div [hidden]="gameService.state!==stateEnum.gameOver">
          <div class="display pointer game-over" (click)="reset()">
            <div class="level">Level {{gameService.level}}</div>
            <div class="state">
              <span>Game Over</span>
            </div>
            <div class="instructions">Click to Restart</div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>